*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 90px;
    width: 100%;
}

.searchbar{
    height: 60px;
    width: 100%;
    background-color: rgb(42, 42, 144);
}

.left{
    height: 650px;
    width: 60%;
    background-color: green;
}
.right{
    height: 650px;
    width: 40%;
    background-color: rgb(161, 19, 140);
}

.main{
    display: flex;
}

nav{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    gap: 100px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo p{
    font-size: 26px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links{
    display: flex;
    gap: 100px;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
