*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 90px;
    width: 100%;
}

.searchbar{
    height: 60px;
    width: 100%;
    display: grid;
    place-content: center;
}
.searchbar input{
    height: 3   0px;
    width: 300px;
    padding: 6px;
    border-radius: 40px;
    border: none;   
}

.left{
    height: 650px;
    width: 55%;
}
.right{
    height: 650px;
    width: 45%;
}

.main{
    display: flex;
}

nav{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    gap: 100px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo p{
    font-size: 26px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links{
    display: flex;
    gap: 100px;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 100px;
    gap: 25px;
}

.title{
    display: flex;
    flex-direction: column;
    
}
.title h1{
    font-size: 150px;
    font-family: Tahoma, sans-serif;
}
.title h2{
    font-size: 120px;
    font-family: Tahoma, sans-serif;
    font-weight: 100;
    font-style: italic;
    margin-top: -26px;
}
.line{
    height: 4px;
    width: 420px;
    background-color: black;
}

.price h1{
    font-size: 60px;
    font-family: Tahoma;
}
.desc{
    width: 600px;
}
.desc p{
    font-family: tahoma;
    font-size: 18px;
}


.CTA{
    display: flex;
    gap: 20px;
    align-items: center;
}
.CTA button{
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    border-radius: 30px;
    background-color: #00643b;
    border: none;
    color: white;
}

.CTA a{
    font-size: 26px;
    font-family: tahoma;
}

.right{
    position: relative;
}
.right .product{
    margin-left: 100px;
    transform: scale(1.3);
    position: relative;
    z-index: 1;
}

.blob{
    position: absolute;
    z-index: 0;
    right: 0;
    left: 20px;
    top: 0;
}






